{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			type="image/png"
			href="{% static 'images/splash.svg' %}"
		/>
		<title>SureLock Password Manager</title>
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		{% block head %} {% endblock %}
	</head>
	<body>
		<div>
			
		</div>

		<header>		
				<h2 class="logo">SureLock&#128274</h2>
				
				<div class="toggle"></div>
		</header>
		<div class="menu">
			<ul>
				
				{% if user.is_authenticated %}
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'password-index' %}">Vault</a></li>
				<li>
					<form
						id="logout-form"
						method="post"
						action="{% url 'logout' %}"
					>
						{% csrf_token %}
						<button type="submit">Log out</button>
					</form>
				</li>
				{% else %}
					<form action="{% url 'home' %}" method="post" class="login">
						<h1>Login</h1>
						{% csrf_token %} {{ form.as_p }}
						<input type="hidden" name="next" value="{{ next }}" />
						<button type="submit" class="btn submit">Login</button>
					</form>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'signup' %}">Sign Up</a></li>
				{% endif %}
			</ul>
		</div>
		
		<main>{% block content %} {% endblock %}</main>

		<script src="{% static 'javascript.js' %}"></script>

	</body>
</html>
 