{% extends "base.html" %} {% load static %} 
{% block head%}
<!-- <link rel="stylesheet" href="{% static 'css/home.css' %}" /> -->
{% endblock %} 
{% block content %}

<!-- <section>
	<div class="surelock-container">
		{% comment %}<img
			src="{% static 'images/splash.svg' %}"
			alt="SureLock Password Manager"
		/>{% endcomment %}
	</div>
	{% comment %}<img
		src="{% static 'images/logotype.svg' %}"
		alt="Text reads: Surelock Password Manager"
	/>{% endcomment %} 
	{% if not user.is_authenticated %}
	<form action="{% url 'home' %}" method="post" class="login">
		<h1>Login</h1>
		{% csrf_token %} {{ form.as_p }}
		<input type="hidden" name="next" value="{{ next }}" />
		<button type="submit" class="btn submit">Login</button>
	</form>
</section> -->

{% endif %}

<section class="showcase">


	<!-- 
	This is the video that will play in the background
	<video src="" muted loop autoplay></video> 
	-->

	<div class="overlay"></div>
	<div class="text">
			<h3>Keep it 
				<span
				   class="txt-rotate text-gold"
				   data-period="2000"
				   data-rotate='[ "Secret.", "Safe."]'></span>
			  </h3>
		<!-- <h3>Make sure.</h3> -->
		<p>
			Tired of forgotten passwords and security breaches? Unlock peace of
			mind with SureLock Our powerful password manager safeguards your
			digital life with ironclad encryption. Effortlessly generate strong
			passwords and protect your sensitive data. Don't risk it. Make sure.
		</p>
		<a href="#">Explore</a>
	</div>
	<ul class="social">
		<li>
			<a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
		</li>
		<li>
			<a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
		</li>
		<li>
			<a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
		</li>
	</ul>
</section>


{% endblock %}
