{% extends "base.html" %} {% load static %} {% block head%} {% endblock %} {% block content %}

<section class="showcase">
  <!-- 
	This is the video that will play in the background
	<video src="" muted loop autoplay></video> 
	-->

	<div class="overlay"></div>
	<div class="text">
			<h3>Keep it 
				<span
				   class="txt-rotate text-gold"
				   data-period="2000"
				   data-rotate='[ "Secret.", "Safe."]'></span>
			  </h3>
		<p>
			Tired of forgotten passwords and security breaches? Unlock peace of
			mind with SureLock Our powerful password manager safeguards your
			digital life with ironclad encryption. Effortlessly generate strong
			passwords and protect your sensitive data. Don't risk it. Make sure.
		</p>
		<a href="{% url 'signup' %}">Sign Up</a>
	</div>
	<ul class="social">
		<li>
			<a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
		</li>
		<li>
			<a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
		</li>
		<li>
			<a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
		</li>
	</ul>
</section>

{% endblock %}
