{% extends "base.html" %} {% load static %} {% block head%} {% endblock %} {% block content %}

<section class="showcase">
  <!-- 
	This is the video that will play in the background
	<video src="" muted loop autoplay></video> 
	-->

  <div class="overlay"></div>
  <div class="text">
    <h3>Keep it secret.</h3>
    <h3>Keep it safe.</h3>
    <p>
      Tired of forgotten passwords and security breaches? Unlock peace of mind with SureLock Our powerful password
      manager safeguards your digital life with ironclad encryption. Effortlessly generate strong passwords and protect
      your sensitive data. Don't risk it. Make sure.
    </p>
    <a href="#">Explore</a>
  </div>
  <ul class="social">
    <li>
      <a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
    </li>
    <li>
      <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
    </li>
    <li>
      <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
    </li>
  </ul>
</section>

{% endblock %}
