
.password-container {
  display: flex;
  align-items: center;
}

.hidden-password {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-right: 10px;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-button img {
  width: 24px;
  height: 24px;
}
