<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Surelock Password App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header>
      <!-- Navigation bar, logo, etc. -->
    </header>

    <main>
      {% block content %}
      <!-- Content will be injected here -->
      {% endblock %}
    </main>

    <footer>
      <!-- Footer content -->
    </footer>
  </body>
</html>
