{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/passwords/password-index.css' %}" />
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
{% endblock %} {% block content %}
<div class="background showcase">
	<svg
		id="visual"
		viewBox="0 0 900 600"
		width="100vw"
		height="100vh"
		preserveAspectRatio="none"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		version="1.1"
	>
		<path d="M0 235L900 217L900 0L0 0Z" fill="#011727"></path>
		<path d="M0 457L900 445L900 215L0 233Z" fill="#011727"></path>
		<path d="M0 601L900 601L900 443L0 455Z" fill="#011727"></path>
	</svg>

	<div class="body-container">
		<section class="password-index-body">
			<section class="passwords-container">
				<!-- New Password Button -->
				<button class="new-password-button open-button">
					New Password
				</button>

				<!-- Column Categories -->
				<div id="legend">
					<p id="legend-date">Created/Updated</p>
					<p id="legend-app-name">App Name</p>
					<p id="legend-username">Username</p>
					<p id="legend-note">Note</p>
				</div>

				<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

				<div id="password-cards-box">
                    {% for password in passwords %}
                    <div class="card">
                        <button 
                            id="button-in-tag" 
                            class="password-button" 
                            data-password-id="{{ password.id }}"
                            data-appname="{{ password.appname }}"
                            data-username="{{ password.username }}"
                            data-password="{{ password.password }}"
                            data-note="{{ password.note }}"
                        >
                            <img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPlJREFUSEvtlcsRgjAYhP+lCOGIF6EMrAStRKhErUTKEC9yBIrIOkF0HAhEfMx4kCvJfjv7PwL58ocv68tzAC+MHKViAlFrqCCQSnnMbAbtAC9cgdyahEgmUp/
                                SMcg4wAsjkAct0Ig5zr4RUyoGsBIRn8BcymMxBBkFwA20eGR0OltsACQgd6o+rV8FsHFf5X0jX
                                uiDPItIwSqffx4gInCDYQMt0RbRqMCPAq6ds9HFtfV4539mmo1eRHADXTh/ovjteMYqXz7eNQG
                                shTPBh+rxB9zT+kdk7dqfiuidQettVtMa1qtCv2BTp/m5VWENe+IB+5s8UbB7/AK6bKsZlqHeY
                                wAAAABJRU5ErkJggg=="
                            />
                            <p id="password-date">{{ password.most_recent }}</p>
                            <h1 id="password-appname">{{ password.appname }}</h1>
                            <p id="username-text">{{ password.username }}</p>
                            <p id="password-note">{{ password.note }}</p>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                
                
			</section>
		</section>

		<!-- Create Modal -->
		<dialog class="modal" id="createmodal">
			<div class="modal-close-button-container">
				<div id="modal-close-button-container-childh1">
					<h1>Create Password</h1>
				</div>
				<div id="modal-close-button-container-childbutton">
					<button
						class="close-create-button btn fa-solid fa-xmark"
					></button>
				</div>
			</div>
			<form action="" id="CreateForm" method="post">
				{% csrf_token %}
				<label for="appname">Name:</label>
				<input type="text" id="appname" name="appname" />
				<br />

				<label for="username">Username:</label>
				<input type="text" id="username" name="username" />
				<br />

				<label for="password">Password:</label>
				<div class="password-reveal-container">
					<input type="password" id="create-password" name="password" />
					<button
						type="button"
						id="toggle-create-password"
						class="toggle-btn btn"
					>
						<i class="fa-solid fa-eye"></i>
					</button>
				</div>
				<br />
				<label for="note">Note:</label>
				<textarea id="note" name="note"></textarea>
				<br />
				<button type="submit" id="submit-btn" class="btn">Submit</button>
			</form>
		</dialog>

		<!-- Update Modal (edit password modal) with data-password-id only if there's a password being edited -->
        <dialog class="modal" id="updatemodal">
            <div class="modal-close-button-container">
                <div id="modal-close-button-container-childh1">
                    <h1>Edit Password</h1>
                </div>
                <div id="modal-close-button-container-childbutton">
                    <button class="close-update-button btn">x</button>
                </div>
            </div>
            <form id="UpdateForm" method="post" data-id="">
                {% csrf_token %}
                
                <label for="appname">App Name:</label>
                <input type="text" id="update-appname" name="appname" value="" />
        
                <label for="username">Username:</label>
                <input type="text" id="update-username" name="username" value="" />
        
                <label for="password">Password:</label>
                <input type="password" id="update-password" name="password" value="" />
        
                <label for="note">Notes:</label>
                <textarea id="update-note" name="note"></textarea>
        
                <button type="submit" id="save-btn" class="btn">Save</button>
            </form>
        </dialog>
        

	</div>

	<!-- Include external JavaScript -->
	<script src="{% static 'js/password-modals.js' %}"></script>
</div>
{% endblock %}
