{% extends "base.html" %} {% load static %} {% load tz %} {% block head %}
<link rel="stylesheet" href="{% static 'css/passwords/password-list.css' %}" />
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>
{% endblock %} {% block content %}
<div class="background showcase">
	<svg
		id="visual"
		viewBox="0 0 900 600"
		width="100vw"
		height="100vh"
		preserveAspectRatio="none"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		version="1.1"
	>
		<path d="M0 235L900 217L900 0L0 0Z" fill="#011727"></path>
		<path d="M0 457L900 445L900 215L0 233Z" fill="#011727"></path>
		<path d="M0 601L900 601L900 443L0 455Z" fill="#011727"></path>
	</svg>

	<div class="body-container">
		<section class="password-list-body">
			<section class="passwords-container">
				<!-- New Password Button -->
				<button class="new-password-button open-button">
					New Password
				</button>
           

				<!-- Column Categories -->
				<div id="legend">
					<p id="legend-date">Created/Updated</p>
					<p id="legend-app-name">App Name</p>
					<p id="legend-username">Username</p>
					<p id="legend-note">Note</p>
				</div>

				<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

                <div id="password-cards-box">
                    <!-- Form for bulk delete action -->
                    <form id="bulk-delete-form" method="post" action="{% url 'bulk-delete' %}">
                        <div class="bulk-delete-container">
                            <!-- Button to activate bulk delete mode -->
                            <button id="bulk-delete-mode-button" class="button">Bulk Delete</button>
                        
                            <!-- Delete selected button (hidden by default) -->
                            <button id="delete-selected-button" class="button delete-button" style="display: none;">Delete Selected</button>
                        </div>
                        {% csrf_token %}
                        {% for password in passwords %}
                        <div class="card">
                            <!-- Checkbox for each password entry, hidden by default -->
                            <input type="checkbox" name="selected_passwords" value="{{ password.id }}" class="password-checkbox" style="display: none;" />
                            <button 
                                id="button-{{ password.id }}"
                                class="button-in-tag password-button" 
                                data-password-id="{{ password.id }}"
                                data-appname="{{ password.appname }}"
                                data-username="{{ password.username }}"
                                data-password="{{ password.password }}"
                                data-note="{{ password.note }}"
                            >
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPlJREFUSEvtlcsRgjAYhP+lCOGIF6EMrAStRKhErUTKEC9yBIrIOkF0HAhEfMx4kCvJfjv7PwL58ocv68tzAC+MHKViAlFrqCCQSnnMbAbtAC9cgdyahEgmUp/SMcg4wAsjkAct0Ig5zr4RUyoGsBIRn8BcymMxBBkFwA20eGR0OltsACQgd6o+rV8FsHFf5X0jXuiDPItIwSqffx4gInCDYQMt0RbRqMCPAq6ds9HFtfV4539mmo1eRHADXTh/ovjteMYqXz7eNQGshTPBh+rxB9zT+kdk7dqfiuidQettVtMa1qtCv2BTp/m5VWENe+IB+5s8UbB7/AK6bKsZlqHeYwAAAABJRU5ErkJggg=="/>
                                <p id="password-id">{{ password.id }}</p>
                                {% localtime on %}
                                <p id="password-date">{{ password.most_recent|date:"Y-m-d H:i"|localtime }}</p>
                                {% endlocaltime %}
                                <h1 id="password-appname">{{ password.appname }}</h1>
                                <p id="username-text">{{ password.username }}</p>
                                <p id="password-note">{{ password.note }}</p>
                            </button>
                        </div>
                        {% endfor %}
                    </form>
                </div>
                
                
                
			</section>
		</section>

		<!-- Create Modal -->
		<dialog class="modal" id="createmodal">
			<div class="modal-close-button-container">
				<div id="modal-close-button-container-childh1">
					<h1>Create Password</h1>
				</div>
				<div id="modal-close-button-container-childbutton">
					<button
						class="close-create-button modal-close-button"
					> <i class="fa-solid fa-xmark"></i></button>
				</div>
			</div>
			<form action="" id="CreateForm" method="post">
				{% csrf_token %}
				<label for="appname">Name:</label>
				<input type="text" id="appname" name="appname" />
				<br />

				<label for="username">Username:</label>
				<input type="text" id="username" name="username" autocomplete="off"/>
				<br />

                <div class="password-reveal-container">
                    <!-- Input field for password -->
                    <label for="create-password">Password</label>
                    <input type="password" id="create-password" name="password" />
                    <!-- Button to toggle password visibility -->
                    <button type="button" id="toggle-create-password" class="toggle-password toggle-button">
                        <i class="fa-solid fa-eye"></i> <!-- Eye icon to show/hide the password -->
                    </button>
				</div>
                <!-- Button to generate a new random password -->
                <button type="button" id="generate-password-create" class="generate-password button">Generate Password</button>

				<br />
				<label for="note">Note:</label>
				<textarea id="note" name="note"></textarea>
				<br />
				<button type="submit" id="submit-button" class="button">Submit</button>
			</form>
		</dialog>

        <!-- Update Modal (edit password modal) with data-password-id only if there's a password being edited -->
<dialog class="modal" id="updatemodal">
    <div class="modal-close-button-container">
        <div id="modal-close-button-container-childh1">
            
            <h1 id="update-modal-appname" name="appname" value=""></h1>
           
        </div>
        <div id="modal-close-button-container-childbutton">
            <button
						class="close-update-button modal-close-button"
					> <i class="fa-solid fa-xmark"></i></button><!-- Button to close the modal -->
        </div>
    </div>
    
    <!-- Update Password Form -->
    <form id="UpdateForm" method="post" action="{% if password %}{% url 'password-detail' password.id %}{% endif %}">
        {% csrf_token %} <!-- Django CSRF token for security -->
        
        <input type="hidden" id="update-password-id" name="password-id" value="{{ password.id }}" />

        <!-- Input field for app name -->
        <label for="appname">Site/App Name</label>
        <input type="text" id="update-appname" name="appname" value="{{ password.appname }}" />
    
        <!-- Input field for username -->
        <label for="username">Username</label>
        <input type="text" id="update-username" name="username" value="{{ password.username }}"  autocomplete="off"/>
    
        <!-- Password reveal/copy/generate functionality -->
        <div class="password-reveal-container">
            <!-- Input field for password -->
            <label for="update-password">Password</label>
            <input type="password" id="update-password" name="password" value="{{ password.password }}" />
            <!-- Button to toggle password visibility -->
            <button type="button" id="toggle-update-password" class="toggle-password toggle-button">
                <i class="fa-solid fa-eye"></i> <!-- Eye icon to show/hide the password -->
            </button>
            <!-- Button to copy the password to the clipboard -->
            <button type="button" id="copy-update-password" name="copy-button" class="">
                <i class="fa-solid fa-copy"></i>
            </button>
        </div>
    
        <!-- Button to generate a new random password -->
        <button type="button" id="generate-password-update" class="generate-password button">Generate Password</button>
    
        <!-- Textarea for additional notes -->
        <label for="note">Notes</label>
        <textarea id="update-note" name="note">{{ password.note }}</textarea>
    
        <!-- Button to save changes -->
        <button type="submit" name="action" value="save" id="save-button" class="button">Save</button>
    
        <!-- Button to delete the password -->
        <button type="submit" name="action" value="delete" class="delete-button button">Delete</button>
    </form>
    
</dialog>

        

	</div>

	<!-- Include external JavaScript -->
	<script src="{% static 'js/password-modals.js' %}"></script>
</div>
{% endblock %}


<script>
    document.getElementById('UpdateForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission
    
        // Gather form data
        const formData = new FormData(this);
        const actionUrl = this.action;
    
        // Use fetch to send form data via POST
        fetch(actionUrl, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'  // Marks it as an AJAX request
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Log POST data received from the server in Chrome console
            console.log('POST data received from server:', data.post_data);
        })
        .catch(error => console.error('Error:', error));
    });
    </script>
    