{% extends 'main_app/base.html' %} {% load static %} {% load custom_filters %} {% block head %}
<link rel="stylesheet" href="{% static 'css/passwords/password-detail.css' %}" />
{% endblock %} {% block content %}
<section>
  <h1>{{ password.appname }}</h1>
  <br />
  <h3>Username:</h3>
  {{ password.username }}
  <h3>Password:</h3>
  <div class="password-container">
    <!-- Set the initial content to the masked password using Django template -->
    <span id="password-text">{{ "*"|repeat:password.password|length }}</span>
    <button id="toggle-password" class="toggle-btn">
      <img src="{% static 'images/eye-icon.png' %}" alt="Reveal" />
    </button>
  </div>
  <h3>Notes:</h3>
  {{ password.note }}
  <br />
  <a href="{% url 'password-update' password.id %}" class="btn">Edit</a>
  <a href="{% url 'password-delete' password.id %}" class="btn">Delete</a>
</section>

<script>
  const passwordText = document.getElementById("password-text");
  const togglePasswordBtn = document.getElementById("toggle-password");
  const eyeIcon = togglePasswordBtn.querySelector("img");

  // Initial masked and actual password values
  const actualPassword = "{{ password.password }}";
  const maskedPassword = "*".repeat(actualPassword.length);

  // Set the password text to masked password at page load to ensure consistency
  passwordText.textContent = maskedPassword;

  togglePasswordBtn.addEventListener("click", function () {
    if (passwordText.textContent === maskedPassword) {
      passwordText.textContent = actualPassword;
      eyeIcon.src = "{% static 'images/eye-icon.png' %}";
      eyeIcon.alt = "Hide";
    } else {
      passwordText.textContent = maskedPassword;
      eyeIcon.src = "{% static 'images/eye-icon.png' %}";
      eyeIcon.alt = "Reveal";
    }
  });
</script>
{% endblock %}
