{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/passwords/password-index.css' %}" />
{% endblock %} 
{% block content %}


<section class = "password-index-body">

<section class="passwords-container">
    <button class = 'open-button'>New Password</button>
  <h1>Login/Password List</h1>
  {% for password in passwords %}
    <div class="card">
        {{password.id}}
    {% comment %} <a href = '{% url 'password-detail' password.id %}'></a> {% endcomment %}
    <a href = '{% url 'password-detail' password.id %}' >{{password.appname}}</a>
    </div>
    
  {% endfor %}

  
</section>

</section>



<section>
  


  

<dialog class = 'modal' id = 'createmodal'>
    <button class = 'close-create-button'>x</button>
    <form action = '' id="LoginForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    
    </form>
    
</dialog>  


<dialog class = 'modal' id = 'updatemodal'>
    
    <button class = 'close-update-button'><a href = '/passwords'>x<a/></button>
    <form action = '' id="LoginForm" method="post">
        {% csrf_token %}
        {{ updateform.as_p }}
        <button type="submit">Save</button>
    
    </form>
    
</dialog>  



<script>
    





    const createModal = document.querySelector('#createmodal');
    
    const openCreateModal = document.querySelector('.open-button');
    
    const closeCreateModal = document.querySelector('.close-create-button');
    
    
    openCreateModal.addEventListener('click', function () {
        createModal.showModal();
    })
    
    closeCreateModal.addEventListener('click', function () {
        createModal.close();
    })


    const updateModal = document.querySelector('#updatemodal');

    const allPasswords = document.querySelectorAll('.card')

    
    {%if password_id%}
    updateModal.showModal()
    {%endif%}



    const closeUpdateModal = document.querySelector('.close-update-button')

    closeUpdateModal.addEventListener('click', function () {
        updateModal.close();
    })




</script>
    


{% endblock %} 