






/* this is all for the index page:  */

.password-index-body {
    display: flex;
    justify-content: center;
}

.passwords-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    margin: 2px;
}
