.card {
  width: 100%;
  border: solid;
}

body {
  background-color: rgb(210, 210, 210);
}

/* this is all for the index page:  */

.password-index-body {
  display: flex;
  justify-content: center;
}

.passwords-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-radius: 20px;
  margin: 2px;
}


.password-reveal-container {
  display: flex;
  align-items: center;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-btn img {
  width: 24px;
  height: 24px;
}


.modal {
  border-radius: 20px;
  width: 30%;
}

#LoginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-close-button-container{
  display: flex;
  justify-content: space-evenly;
  gap:80%;
}

