body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}



.index-page {
  display: flex;
  justify-content: center;
  align-items: center;
}






.index-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}


#title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.background {
  display: flex;
  
  max-height: 100vh;
  max-width: 100%;
  
  justify-content: center;
  align-items: center;
  
  
  
}


.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  position: absolute;
  width: 100%;
  

  
}











/* this is all for the index page:  */
.open-button {
  width: 70vw;
  border-radius: 20px;
  border:none;
  margin: 10px;
  transition: transform 0.5s ease;
}

.open-button:hover {
  
  transform: scale(1.02);

}




.password-index-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
 
}




.passwords-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  height: 80vh;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 20px;
  
  position: relative;
 
 
}

#smaller-passwords-container::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

#smaller-passwords-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3); /* Color of the track */
  border-radius: 20px; /* Rounded corners for the track */
}

#smaller-passwords-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7); /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

#smaller-passwords-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1); /* Color of the thumb when hovered */
}

#smaller-passwords-container {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 99%;
  height: 95%;
  overflow: auto;
}


.card {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  margin: 1px;
  background: rgba(255, 255, 255, 0.7);
  transition: transform 0.5s ease;
  
}



.card:hover {
  
  transform: scale(1.03);

}

#password-button {
  display: flex;
  justify-self: center;
  align-items: center;
  width:100%;
  text-decoration: none;
  border:none;
  height: 5vh;
}

#button-in-tag {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}






.password-reveal-container {
  display: flex;
  align-items: center;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-btn img {
  width: 24px;
  height: 24px;
}



.modal {
 
  
  border-radius: 20px;
  width: 30%;
  height: 60%;
  
}




#UpdateForm {
  height: 60%;
}

#LoginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-close-button-container{
  display: flex;
  justify-content: space-evenly;
  gap:80%;
}

