body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#logout-button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.index-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.background {
  display: flex;

  max-height: 100vh;
  max-width: 100%;

  justify-content: center;
  align-items: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  width: 100%;
}

#new-password-button {
  width: 100vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.open-button {
  width: 70%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(109, 22, 250, 0.8);
  border: none;
  transition: transform 0.5s ease;
  color: white;
}

.open-button:hover {
  transform: scale(1.02);
}

.password-index-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  margin-top: 10vh;
}

.passwords-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  height: 85vh;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 20px;

  position: relative;
}

#smaller-passwords-container::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

#smaller-passwords-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3); /* Color of the track */
  border-radius: 20px; /* Rounded corners for the track */
}

#smaller-passwords-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7); /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

#smaller-passwords-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1); /* Color of the thumb when hovered */
}

#smaller-passwords-container {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 99%;
  height: 95%;
  overflow: auto;
}

.card {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  margin: 1px;
  background: rgba(255, 255, 255, 0.7);
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.03);
}

#password-button {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  border: none;
  height: 5vh;
}

#button-in-tag {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#LoginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* MODAL STYLING */

.password-reveal-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 40%;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-btn img {
  width: 24px;
  height: 24px;
}

/* FORM STYLING */
#UpdateForm {
  display: flex;
  flex-direction: column;
}

.modal-close-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button-container h1 {
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 24px;
  color: #007bff;
}

/* BUTTON STYLING */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

/* BUTTON GROUP STYLING */
button + button {
  margin-left: 10px;
}

/* INPUT STYLING */
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

.modal-close-button-container a {
  text-decoration: none;
  color: white;
}

#submit-btn {
  justify-content: center;
  align-self: center;
  margin-left: 20px;
  width: 90%;
}
